body {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  background-color: #F6F6F6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 160px;
  height: 80px;
  margin-top: 30px;
  margin-left: 150px;
}

.header-button {
  padding: 18px 15px;
  margin-top: 40px;
  margin-right: 150px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  color: #2DAFD7;
  border: 2px solid #2DAFD7;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.form-container {
  display: flex;
}

.form-content {
  margin-left: 150px;
}

.top-container-title {
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 44px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 122.6%;
  text-transform: uppercase;
  color: #195B84;
}

.blue-text {
  color: 2DAFD7;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.input-icons img {
  position: absolute;
  padding-top: 20px;
  padding-left: 14px;
}

.input-icons {
  width: 100%;
  margin-bottom: 15px;
}

.form-input {
  width: 380px;
  height: 60px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
  border: none;
  border-radius: 5px;
}

.form-input::placeholder {
  color: #99BBC6;
}

.icon-user {
  width: 24px;
}

.icon-email {
  width: 23px;
}

.icon-phone {
  width: 20px;
}

.form-button {
  width: 380px;
  height: 70px; 
  margin-top: 15px;
  margin-bottom: 144px;
  background: #2DAFCD;
  box-shadow: 15px 5px 20px rgba(45, 175, 215, 0.2);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 150%;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.table {
  display: flex;
  justify-content: center;
  text-align: center;
}

.table-title {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  color: #195B84;
}

.table-content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 122.6%;
  color: #195B84;
}

.bottom-container {
  display: flex;
  margin: 80px 150px;
}

.bottom-container-title {
  text-align: center;
  font-size: 36px;
  font-family: "Rubik", sans-serif;
  line-height: 122.6%;
  font-weight: bold;
  letter-spacing: .4px;
  color: #195B84;
}

.card {
  width: 390px;
  height: 180px;
  margin-bottom: 42px;
  background: #F4F9FF;
  box-shadow: 5px 5px 20px rgba(0, 85, 112, 0.15);
  border-radius: 5px; 
}

.card-title {
  padding: 23px 0 20px 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 122.6%;
  letter-spacing: .4px;
  color: #2DAFD7;
}

.card-content {
  padding: 0 13px 11px 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 122.6%;
  letter-spacing: .4px;
  color: #195B84;
}

.phone-img {
  width: 100%;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}